* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1512px;
  height: 982px;
  margin: auto;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}

.toogle_switch {
  width: 99.01px;
  height: 37.985px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
  background: #d9d9d9;
}
.fill {
  width: 31;
  height: 31;
}

.search {
  width: 803px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  background-image: url("Images/search.png");
  background-repeat: no-repeat;
  background-position: 10%;
}
.search-box {
  text-align: center;
  flex-shrink: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.location {
  display: flex;
  width: 292px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #4cbb17;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}
.location h3 {
  width: 200px;
  height: 62px;
  flex-direction: column;
  justify-content: center;

  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.time-box {
  margin-top: 50px;
  width: 590px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
  text-align: center;
  box-shadow: #000;
}

.city {
  padding: 52px 0 30px 0px;
  color: #292929;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date-time h1 {
  max-width: 296px;
  margin: auto;
  color: #292929;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather {
  margin-top: 50px;
  width: 850px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 55px;
}

.temp-box {
  padding: 5px 15px;
}
.temparature {
  width: 170px;
  height: 90px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(
    80deg,
    #292929 -2.93%,
    rgba(255, 255, 255, 0) 212.44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 24px;
}
.feels-like {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feels-like p {
  width: 97.262px;
  height: 30.512px;
  flex-shrink: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.feels-like h4 {
  width: 79.858px;
  height: 49.581px;
  flex-shrink: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.feels-like h4 span {
  color: #292929;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather-image {
  margin-left: 28px;
  width: 270px;
  height: 270px;
  flex-shrink: 0;
}
.weather-image p {
  max-width: 90px;
  height: 53px;
  margin: auto;
  flex-shrink: 0;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.extra-details {
  width: 210px;
  height: 310px;
  flex-shrink: 0;
  color: #292929;
}

.container {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.container .details {
  width: 90.321px;
  height: 25.667px;
  flex-shrink: 0;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text {
  width: 90.303px;
  height: 29.195px;
  flex-shrink: 0;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.day-forecast {
  padding: 10px;
  width: 414px;
  height: 410px;
  flex-shrink: 0;
  color: #292929;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.day-forecast h2 {
  display: flex;
  width: 279px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.grid-container {
  /* display:grid;
  grid-template-columns: repeat(3,fr); */
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.grid-container img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hour-forecast {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 10px;
  width: 870px;
  height: 410px;
  flex-shrink: 0;
}
.hour-forecast h2 {
  color: #292929;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 50px;
}
.sun {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.flex-wraper .nav {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.round {
  width: 110px;
  height: 270px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(
    171deg,
    #f88508 -12.41%,
    rgba(246, 250, 217, 0) 163.32%
  );
 margin: 15px;
}
